
.sectionTwo {
  background: #67a8dd;
  background: linear-gradient(90deg, #67a8dd 0%, rgba(40, 92, 134, 0.863) 74%);    
  padding: 2rem 0;
    margin-top: -.2rem;
}

.sectionTwoHeader h1 {
    color: white;
    text-align: center;
    padding: 1rem;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 1.2rem;
}

.sectionTwoFlex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 

}

.sectionTwoFlexItem {
    width: 30%;
}

.primary-title {
    align-items: center;
}


/* ======================== MEDIA QUERIES FOR SMALL DEVICES ================================ */

@media screen and (max-width: 600px) {

    .sectionTwoFlexItem {
        width: 100%;
    }
}

/* ======================== MEDIA QUERIES FOR iPad Mini ================================ */

@media screen and (max-width: 768px) {
    .about-skills-container {
        margin-bottom: 10rem;
    }
}



